<!DOCTYPE html>
<html>
<head>
  <title>Photo site</title>
</head>
<body bgcolor= "white">
<div>
  <center>
    <h1 >PhotoSite Application</h1>
    <h3 ><i>User's list.</i></h3>
  </center>
</div>
<div>
  <center>
    <table  >

      <tr>
        <th style="font-size: 140%;"><h5>   Index        </h5></th>
        <th style="font-size: 140%;"><h5>   Full Name   </h5></th>

      </tr>
      <% @users.each do |user| %>
        <tr style="font-weight: bold">
          <!--<th style="font-size: 120%;"><%= link_to user.id, user_photos_path(user.id) %></th-->
          <th style="font-size: 120%;"><%= user.id %></th>
          <td height="120%" style="font-size: 110%;"><%= link_to user.first_name+" "+user.last_name,user_photos_path(user.id)%></td>

        </tr>
      <% end %>
    </table>
  </center>
</div>
</body>
</html>